<form [formGroup]="editMenuForm" class="text-center form-signup" (ngSubmit)="submitForm()">
  <h1 class="h3 mb-3 font-weight-normal">Edit Menu</h1>

  <div *ngIf="menu" class="form-group">
    <input class="form-control" type="text" [(ngModel)]="menu.name" formControlName="name" required autofocus>
    <input class="form-control" type="text" [(ngModel)]="menu.description" formControlName="description">
    <button class="btn btn-success" type="submit" [disabled]="!editMenuForm.valid">Submit</button>
  </div>
</form>

<div *ngIf="editMenuForm.invalid && (editMenuForm.dirty || editMenuForm.touched)"
     class="alert alert-danger">

  <div *ngIf="name.errors?.minlength">
    Name must be at least {{ minimumFormFieldLength }} characters long.
  </div>
  <div *ngIf="description.invalid">
    Description must be at least {{ minimumFormFieldLength }} characters long.
  </div>

</div>
